  <div class="form-group">
    <label for="talla_nombre_euro">Nombre talla europea</label>
    <%= text_field  'talla', 'nombre_euro', :class => 'form-control' %>
    <label for="talla_nombre_usa">Nombre talla estadounidense</label>
    <%= text_field  'talla', 'nombre_usa', :class => 'form-control' %>
  </div>
