<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-striped">
		  <tr>
		    <th>Nombre talla Europa</th>
		    <th>Nombre talla USA</th>
		    <th>Editar</th>
		    <th>Borrar</th>
		  </tr>

		  <%= render :partial => 'talla', :collection => @tallas %>
		</table>
	</div>
</div>

<%= link_to 'Añadir nueva talla', new_admin_talla_path, :class => 'btn btn-success' %>
