<div class="row">
	<div class="col-md-4">
		<%= form_tag :action => 'create' do %>   
		  <%= render 'form' %>   
		  <%= submit_tag 'Añadir talla', :class => 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<br>
<%= link_to 'Back', { :action => 'index' }, :class => 'btn btn-default btn-sm' %>