<div class="row">
	<div class="col-md-3">

		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h3 class="panel-title">Talla</h3>
		  </div>
		  <div class="panel-body">
		    <%= @talla.nombre_euro %>
		    <%= @talla.nombre_usa %>
		  </div>
		</div>

	</div>
</div>

<%= link_to 'Editar', edit_admin_talla_path(@talla), :class => 'btn btn-success' %>
<%= link_to 'Volver', admin_tallas_path, :class => 'btn btn-default btn-sm' %>

<script>
	$('#admin').addClass('active');
</script>