
<div class="row">
	<div class="col-md-4">
		<%= form_tag( {:action => 'create'}, :multipart => true) do %>   
		  <%= render 'form_ropa' %>   
		  <%= submit_tag 'Crear ropa', :class => 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<br>
<%= link_to 'Back', { :action => 'new' }, :class => 'btn btn-default btn-sm' %>
