<p>Añadiendo zapatillas</p>
<div class="row">
	<div class="col-md-4">
		<%= form_tag :action => 'create' do %>   
		  <%= render 'form_zapa' %>   
		  <%= submit_tag 'Crear zapatillas', :class => 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<br>
<%= link_to 'Back', { :action => 'new' }, :class => 'btn btn-default btn-sm' %>
