<h2>Seleccione qué desea administrar</h2>

<%= link_to 'Ropa',  admin_ropas_path, :class => 'btn btn-primary' %>
<%= link_to 'Marcas',  admin_marcas_path, :class => 'btn btn-primary' %>
<%= link_to 'Colores',  admin_colors_path, :class => 'btn btn-primary' %>
<%= link_to 'Tallas',  admin_tallas_path, :class => 'btn btn-primary' %>

<script>
	$("#admin").addClass("active");
</script>