<div class="row">
	<div class="col-md-4">
	
		<%= form_tag :action => :create do %>
		  <div class="form-group">
		    <label for="login">E-mail</label>
		    <%= text_field_tag :email, params[:email], :class => 'form-control' %>
		  </div>
		  <%= submit_tag "Reset Password", :class => 'btn btn-primary' %></div>
		<% end %>

	</div>
</div>