<div class="row">
	<div class="col-md-4">
		<%= form_tag create_tag_path do %> 
		  <%= render 'form' %>   
		  <%= submit_tag 'Añadir Etiqueta', :class => 'btn btn-primary' %>
		<% end %>
	</div>
</div>

<br>
<%= link_to 'Volver', tags_path, :class => 'btn btn-default btn-sm' %>

<script>
	$('#admin').addClass('active');
</script>