<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<table class="table table-striped">
		  <tr>
		    <th>Número</th>
		    <th>Editar</th>
		    <th>Borrar</th>
		  </tr>

		  <%= render :partial => 'pie', :collection => @pies %>
		</table>
	</div>
</div>

<%= link_to 'Añadir nuevo número', { :action => 'new' }, :class => 'btn btn-success' %>