  <div class="form-group">
    <label for="marca_nombre">Nombre</label>
    <%= text_field  'marca', 'nombre', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <label for="marca_pais">Pais</label>
    <%= text_field 'marca', 'pais', :class => 'form-control' %>
  </div>
  
  <div class="form-group">
  <% if @marca.imagen.exists? then %>
    <%= image_tag @marca.imagen.url(:medium) %>
  <% else %>
    <p> No hay imagen disponible. </p>
  <% end %>
    <label for="marca_imagen">Imagen</label>
    <%= file_field 'marca', :imagen %>
  </div>
