  <div class="form-group">
    <label for="marca_nombre">Nombre</label>
    <%= text_field  'marca', 'nombre', :class => 'form-control' %>
  </div>
  <div class="form-group">
    <label for="marca_pais">Pais</label>
    <%= text_field 'marca', 'pais', :class => 'form-control' %>
  </div>