<tr>
  <td><%= link_to color.nombre, admin_color_path(color) %></td>
  <td><%= link_to 'Editar', edit_admin_color_path(color) %></td>
  <td>
    <%= button_to "Borrar", admin_color_path(color), :method => :delete, 
    	:class => 'btn btn-danger btn-sm', 
        :confirm => "¿Está seguro de que desea eliminar el color #{color.nombre}?" %>
  </td>
</tr>
