<div class="form-group">
  <label for="post_titulo">Título</label>
  <%= text_field  'post', 'titulo', :class => 'form-control' %>
</div>

<div class="form-group">
  <label for="post_subject">Resumen</label>
  <%= text_field  'post', 'subject', :class => 'form-control' %>
</div>

<div class="form-group">
  <label for="post_cuerpo">Texto</label>
  <%= text_area 'post', 'cuerpo', :class => 'form-control' %>
</div>

<div class="form-group">
  <label for="post_autor">Autor</label>
  <%= text_field 'post', 'autor', :class => 'form-control' %>
</div>