<div class="row">
  <div class="col-md-6">
    <%= form_tag foro_post_path(@post), :method => 'put' do %>

      <%= render 'form' %>
      
      <%= submit_tag 'Moderar Post', :class => 'btn btn-primary' %>

    <% end %>

  </div>
</div>

<script>
	$("#foro").addClass("active");
</script>