<div class="row">
  <div class="col-md-6">
    <%= form_tag :action => 'create' do %>

      <%= render 'form' %>
      
      <%= submit_tag 'Crear Post', :class => 'btn btn-primary' %>

    <% end %>

  </div>
</div>

<script>
	$("#foro").addClass("active");
</script>