<div class="row">
  <div class="col-md-6">
    <%= form_tag reply_post_path(@post) do %>

      <div class="form-group">
        <label for="comentario_autor">Autor</label>
        <%= text_field  'comentario', 'autor', :class => 'form-control' %>
      </div>

      <div class="form-group">
        <label for="post_cuerpo">Comentario</label>
        <%= text_area 'comentario', 'cuerpo', :class => 'form-control' %>
      </div>
      
      <%= submit_tag 'Comentar', :class => 'btn btn-primary' %>

    <% end %>

  </div>
</div>

<script>
  $("#foro").addClass("active");
</script>