<h4>
Tienda online desarrollada con <em><a href="http://guides.rubyonrails.org/v3.2.17/">Ruby on Rails 3.2.9</a></em> para la asignatura Internet y Negocio Electrónico del Grado en Ingeniería Informática de la Universidad de Cádiz.
</h4>

<p>Esta tienda ha sido desarrollada por: </p>
<ul>
	<li><a href="mailto:sergio.villablanco@alum.cua.es">Sergio Villa Blanco</a></li>
	<li><a href="mailto:felipe.sanchezarenas@alum.uca.es">Felipe Sánchez Arenas</a></li>
	<li><a href="mailto:ruben.morenoleyva@alum.uca.es">Rubén Moreno Leyva</a></li>
	<li><a href="mailto:jose.solerjimenez@alum.uca.es">José Antonio Soler Jiménez</a></li>
</ul>

<script>
	$('#about').addClass('active');
</script>
